<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
 <div class="receita-card">
        <h1>{{ Titulo }}</h1>
    <div class="receita-card">
        <a href="/receita"><img src="../static/imagens/receita.png"></a>
        <p>Lista de Pratos</p>
    </div>
    <div class="receita-card">
        <a href="/cadastro"><img src="../static/imagens/cadastro.png"></a>
        <p>Cadastro de Pratos</p>
    </div>
</div>
</body>
</html>